<div class="selection-boundary list-js-figure-type" data-figure-type="{{gallery-item.type}}">
    <a class="list-js-href" itemprop="contentUrl" href="{{raw-uri gallery-item.uri}}">
    	{{#if isImage }}
        	<img class="list-js-thumbnail-src" itemprop="thumbnail" src="{{thumbnail-uri gallery-item.uri}}?thumbnail=1"/>
        {{else}}
    		<img class="list-js-thumbnail-src" itemprop="thumbnail" src="{{rootURL}}assets/images/folder.png"/>
    	{{/if}}
    </a>

    <figcaption itemprop="caption description" class="list-js-name">
    	{{gallery-item.name}}
    </figcaption>
</div>

<div class="item-metadata">
    <div class="list-js-title"></div>
    <div class="list-js-description"></div>
    <div class="list-js-create-date"></div>
</div>

{{yield}}