<div class="selection-boundary" data-figure-type="{{gallery-item.type}}">

	<a {{action 'galleryItemClick' gallery-item}} {{action 'galleryItemDoubleClick' on="doubleClick"}} itemprop="contentUrl" href="{{gallery-item.full_image_uri}}">

		{{#if isImage }}
			<img itemprop="thumbnail" src="{{gallery-item.thumbnail_uri}}"/>
		{{else}}
			<img itemprop="thumbnail" src="/assets/images/folder.png"/>
		{{/if}}

	</a>

	<figcaption itemprop="caption description">{{gallery-item.resource_name}}</figcaption>
</div>

{{yield}}